* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 4%;
}   

#gridMap {
    height: 21%;
}

#mapIframe, #googleMap {
    height: 100%;
}

#main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 75%;
}

body {
    background-image: url('../pics/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.contentarea2, .camera {
    height: 100%;
}

#acceptBox {
    display: flex;
    flex-direction: column;
}

#userPhotoChecker {
    height: 50%;
}

#mapIframe, .contentarea2, .camera, #videoBox, #video, .buttonBox, #buttonInnerBox, #startButton {
    width: 100%;
}

#startButton, #usePhotoButton, #dontUsePhotoButton {
    height: 5vh !important;
}

#googleMap {
    display: flex;
    justify-content: center;
    align-items: center;
}

#resultMapRight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#resultMap {
    width: 320px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 1%;
    height: 20%;
}

#video {
    height: 100%;
    max-width: 80%;
    width: auto;
}

#videoBox {
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonBox {
    height: 10%;
}

#canvasBox {
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    height: 100%;
    max-width: 80%;
    width: auto;
}

#acceptBox {
    height: 20%;
}

.buttonBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN - REGISTER  */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.register-container {
    display: none;
    background: rgb(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.login-container {
    display: flex;
    background: rgb(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

input {
    width: 100%;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;    
    background-color: #008000;
    color: #fff;
    cursor: pointer;
    margin-bottom: 0;
    box-shadow: 0 5px 15px rgb(204, 204, 204);
}

input {
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}

button:active {
    background-color: #109010;
}

h3 {
    width: 20%;
    margin-top: 20px;
    text-align: center;
}

a, p {
    cursor: pointer;
    font-size: 1em;
    color: #0a5c0a;
}

/* REPORTS - DATES */

.container {
    min-width: 28%;
    padding: 20px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255, 0.6);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.logout {
    text-align: right;
    cursor: pointer;
    padding: 5px;
    color: darkred;
    font-size: 1em;
    margin-bottom: 15px;
}

h1 {
    margin-bottom: 20px;
}

textarea {
    height: 100px;
    resize: none;
}

select {
    background-color: white;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

input[type="text"]:hover, select:hover {
    border-color: #008000;
}

input[type="text"]:focus, select:focus {
    border-color: #109010;
    box-shadow: 0 0 8px rgba(50, 50, 150, 0.2);
    outline: none;
}

.sendButton {
    width: 100%;
}

#switchPage, #switchPageRight, #switchPageMiddle {
    cursor: pointer;
    font-size: 1em;
    padding: 5px;
    display: block;
}

#switchPage {
    text-align: left;
}

#switchPageMiddle {
    text-align: center;
}

#switchPageRight {
    text-align: right; 
}

#buttonInnerBox {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvasBox {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;
}

.userPhotoCheckerButton {
    width: 50%;
    height: 20px;
    background-color: #008000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 8px;
}

.userPhotoCheckerButton > button {
    padding: 0;
}

#dontUsePhoto, #dontUsePhotoButton {
    background-color: red;
}

#dontUsePhotoButton:disabled {
    background-color: #dd5035;
}

#usePhotoButton:disabled {
    background-color: #6eaa5e;
}

#homeContainer, #newCheckpoint-container {
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow: scroll;
    border-radius: 0;
}

.camera {
    display: flex;
    flex-direction: column;
}

button { 
    font-size: 1em
}

input { 
    font-size: 1em
}

html, body {
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    font-size: 100%
}

@media (min-width: 800px) {
    html, body {
        width: 100%; 
        height: 100%; 
        overflow: hidden; 
        font-size: 100%
    }

    #homeContainer {
        height: 960px;
        width: 25%;
        position: unset;
        border-radius: 10px;
        overflow: hidden;
    }

    .camera {
        display: flex;
        flex-direction: column;
    }
    
    #newCheckpoint-container {
        min-width: 28%;
        width: auto;
        height: auto;
    }

    #mapIframe, .contentarea2, .camera, #videoBox, #video, #buttonInnerBox, #buttonBox, #startButton, #usePhotoButton, #dontUsePhotoButton {
        width: 100%;
    }   

    #startButton, #usePhotoButton, #dontUsePhotoButton {
        height: 3vh !important;
    }

    #canvasBox {
        width: 320px;
    }

    input {
        width: 320px;
    }
}