.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#headerMidComment {
    display: flex;
    font-size: 2.2em;
    align-items: center;
    justify-content: flex-start;

}

h1 {
    text-align: center;
    color: #ffffff;
}

.friend-list {
    list-style: none;
    padding: 0;
}

.friend {
    background-color: #fff;
    border: 1px solid #ccc;
    color: black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.friend:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    #headerMidComment {
        font-size: 1em;
    }
}