/*firefox*/
html {
    scrollbar-width: none;
}
/*Chrome, Safari, Opera, and other WebKit-based browsers*/
body::-webkit-scrollbar{
    display: none;
}
/*IE, Edge*/
body {
    -ms-overflow-style: none;
}

body {
    background-image: url('../pics/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

#header {
    display: grid;
    grid-template-columns: 20% auto 20%;
    height: 25vh;
    width: 96%;
    background-color: #1BA31E;
    margin: 2%;
    opacity: 0.6;
    border: 2px solid gray;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

#headerLeft, #headerMid, #headerRight {
    display: flex;
}

#headerLeft {
    justify-content: center;
    align-items: center;
}

#headerLeft > img {
    width: 10vw;
}

#headerMid {
    font-size: 2.5em;
    align-items: center;
    justify-content: flex-start;
}

#headerRight {
    align-items: flex-start;
    justify-content: flex-end;
} 

#main {
    text-align: center;
}

#footer {
    text-align: center;
}

a:link {
    color: white;
}

#startbutton {
    display: inline-block;
    outline: none;
    cursor: pointer;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 7.5%;
    text-transform: uppercase;
    white-space: normal;
    text-align: center;
    padding: 1% 1% 1%;
    color: #fff;
    background-color: #15883e;
    height: 5%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

#startbutton:hover{
    background-color: #1BA31E;
}

#footer {
    text-align: center;
    width: 20%;
    background-color: #1BA31E;
    margin: auto;
    padding: 1vw;
    border-radius: 1em;
    opacity: .9;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}