html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;    
}

/*firefox*/
html {
    scrollbar-width: none;
}
/*Chrome, Safari, Opera, and other WebKit-based browsers*/
body::-webkit-scrollbar{
    display: none;
}
/*IE, Edge*/
body {
    -ms-overflow-style: none;
}

body {
    background-image: url('../pics/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

footer {
    text-align: center;
}

a:link {
    color: white;
}

a:link:visited {
    color: white;
}

footer {
    text-align: center;
    width: 20%;
    padding: 1vw;
    background-color: #15883e;
    margin: auto;
    border-radius: 1em;
    opacity: .9;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;

}

/*smartphone design: 414 x 896*/


@media screen and (max-width: 900px) {
    header {
        display: grid;
        grid-template-columns: auto auto auto;
        height: 10vh;

    }
    
    footer {
        width: 90%;
        padding: 1vw;
    }
}


/* des obere is basic dinggggggggggggggggggggggggggg*/

h2 {
    padding: 7% 5% 2% 5%;
    font-size: 500%;
    display: flex;
    justify-content: center;
    text-shadow: 0.5rem 0.3rem 0.2rem #000000;
}

#headline {
    padding: 0% 5% 2% 5%;
    font-size: 700%;
}


#logoMiddle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoMiddle > img {
    width: 20vw;
    background-color:  rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.coverPage {
   height: 100vh;
}

#coverSecond{
    background-color: #24972645;
}
.content {
    background-color: #175118;
    border-radius: 1em;
    margin: 0% 10%;
    padding: 2%;
    margin-top: 20%;
}


