html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

/*firefox*/
html {
    scrollbar-width: none;
}
/*Chrome, Safari, Opera, and other WebKit-based browsers*/
body::-webkit-scrollbar{
    display: none;
}
/*IE, Edge*/
body {
    -ms-overflow-style: none;
}

body {
    background-image: url('../pics/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

#header {
    display: grid;
    grid-template-columns: 20% auto 20%;
    height: 25vh;
    width: 96%;
    background-color: #249726;
    margin: 2%;
    opacity: 0.7;
    border: 2px solid rgb(68, 65, 65);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

#headerLeft, #headerMid, #headerRight {
    display: flex;
}

#headerLeft {
    justify-content: center;
    align-items: center;
}

#headerLeft > img {
    width: 10vw;
}

#headerMid {
    font-size: 2.5em;
    align-items: center;
    justify-content: flex-start;
}

#headerRight {
    align-items: flex-start;
    justify-content: flex-end;
} 

#main {
    text-align: center;
}

#footer {
    text-align: center;
}

a:link {
    color: white;
}

a:link:visited {
    color: white;
}

#footer {
    text-align: center;
    width: 20%;
    padding: 1vw;
}

#gridMap {
    display: grid;
    grid-template-columns: 35% 30% 35%;
}

#resultMapRight {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2%;
    margin-left: 0;
}

#resultMap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1vw;
    margin-left: 0 !important;
}

#googleMap {
    text-align: center;
    padding: 2%;
}

#footer, #resultMap {
    background-color: #1BA31E;
    margin: auto;
    border-radius: 1em;
    opacity: .9;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

#startbutton {
    display: inline-block;
    outline: none;
    cursor: pointer;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 7.5%;
    text-transform: uppercase;
    white-space: normal;
    text-align: center;
    padding: 1% 1% 1%;
    color: #fff;
    background-color: #15883e;
    height: 5%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

#startbutton:hover{
    background-color: #1BA31E;
}

#map {
    height: 100%;
}


/*smartphone design: 414 x 896*/


@media screen and (max-width: 900px) {
    #header {
        display: grid;
        grid-template-columns: auto auto auto;
        height: 10vh;

    }
    
    #headerMid {
        font-size: 1.5em;
    }
    
    #footer {
        width: 90%;
        padding: 1vw;
    }
    
    #gridMap {
        grid-template-columns: 100%;
        grid-template-rows: 0, auto, auto;
    }

    #resultMap {
        width: 100%;
        height: 5vh;
        padding-left: 5%;   
    }

    #resultMapRight {
        width: 50%;
        justify-content: center !important;
        margin: auto;
    }
    
    #startbutton {
        min-width: 40%;
        min-height: 4vh;
    }
}