.why {
    height: 25rem;
}

.textBackground {
    background-color: black;
    padding: 2%;
    border-radius: 30px;
}
.flexen {
    display: flex;
    align-items: center;
  }


  .flexen > div {
    float: left; 
    width: 48%; 
    margin-right: 2%; 
    padding: 20px; 
    box-sizing: border-box;
  }

  .flexen img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .smalltext {
    font-size: 60%;
  }

  .smalltextTwo {
    font-size: 70%;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2%;
    border-radius: 30px;
  }
  .primList {
    width: 70%;
    font-size: large;
  }

  .imgPrimZiel {
    width: 30%;
  }

  .smalltextThree {
    padding: 2%;
    font-size: 80%;
  }

  .smalltextFour {
    font-size: 80%;
  }

