.why {
    height: 25rem;
}

.flexen {
    display: flex;
    align-items: center;
  }

  .flexen > div {
    float: left; 
    width: 48%; 
    margin-right: 2%; 
    padding: 20px; 
    box-sizing: border-box;
  }

  .flexen img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .smalltext {
    font-size: 60%;
  }

  .smalltextTwo {
    font-size: 70%;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2%;
    border-radius: 30px;
  }
  .primList {
    width: 70%;
    font-size: large;
  }

  .imgPrimZiel {
    width: 30%;
  }

  .smalltextThree {
    padding: 2%;
    font-size: 80%;
  }

  .smalltextFour {
    font-size: 80%;
  }

.text-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: black;
  font-size: 1rem;
}

.section-contr {
  display: flex;
  height: 100vh;
}

.backgroundTrees {
  background-color: rgba(255, 255, 255, 0.5); /* Transparenter Hintergrund */
  padding: 20px; /* Padding für mehr Platz innerhalb der Box */
  border-radius: 30px; /* Abgerundete Ecken */
  width: fit-content; /* Box passt sich der Breite des Inhalts an */
  text-align: center; /* Text zentriert in der Box */
  margin-left: -20%;
}
